sudo: false
language: python
# Existing Python versions
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7
  - nightly
install:
  - pip install pep8 rstcheck pyflakes
script: cd t/ && verbose=t make all && ! git status --porcelain | grep -e '^??'
