include COPYING
include git-multimail/README
include git-multimail/README.migrate-from-post-receive-email
include git-multimail/post-receive
include git-multimail/migrate-mailhook-config
include t/README
include t/create-test-repo
include t/filter-noise
include t/test-emails
include t/test-repo.dump
