include COPYING
include git-multimail/README
include git-multimail/README.migrate-from-post-receive-email
include git-multimail/post-receive
include git-multimail/migrate-mailhook-config
include t/README
include t/compare-emails
include t/create-test-repo
include t/fake-sendmail
include t/filter-noise
include t/generate-test-emails
include t/multimail.expect
include t/run-tests
include t/test-env
include t/test-repo.dump
