<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--  to above line, add debug="true" to see logback spew to test logger problems -->

    <!-- It seems the filenames below are relative to stash-home in my testing -->
    <appender name="stash-git-multimail-logger" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>stash-git-multimail.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="stash-git-multimail-logger-debug" class="ch.qos.logback.core.FileAppender">
        <file>stash-git-multimail-debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="stash-git-multimail-logger-console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.palantir.stash.multimail" level="DEBUG">
        <appender-ref ref="stash-git-multimail-logger" />
        <appender-ref ref="stash-git-multimail-logger-debug" />
        <appender-ref ref="stash-git-multimail-logger-console" />
    </logger>


    <!-- we probably don't want to change the root logger, should inherrit from existing config this way.
    <root level="INFO"/>
     -->
</configuration>
