name: main

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 2.7
          - 3.4
          - 3.5
          - 3.6
          - 3.7
          - 3.8
          - 3.9
          - 3.10

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 5 # At least 2 so that HEAD^ is correct.
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pep8 rstcheck pyflakes
      - name: Test
        run: |
          cd t/ && verbose=t make all
      - name: Check that no untracked files are left by testing
        run: |
          ! git status --porcelain | grep -e '^??'
